@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Japanese&display=swap');
@layer mShadow, mGradientStroke;

.learning-module-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.toggle-sidebar-button,
.expand-sidebar-button,
.back-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 1.1em;
  width: 100%;
  text-align: center;
  border-radius: 4px;
}

.toggle-sidebar-button:hover,
.expand-sidebar-button:hover,
.back-button:hover {
  background-color: #0056b3;
}

.level,
.lesson-list,
.level-button {
  margin-bottom: 15px;
}

.level-button,
.lesson-item {
  background: none;
  border: none;
  font-size: 1.1em;
  font-weight: bold;
  color: #eff2fc;
  cursor: pointer;
  text-align: left;
  width: 100%;
}

.lesson-list {
  list-style: none;
  padding-left: 20px;
  margin-top: 5px;
}

.lesson-item {
  color: #eff2fc;
  font-size: 1em;
  font-weight: 400;
  text-align: center;
  position: relative;
  height: 40px;
  line-height: 40px;
  margin: 5px 0;
  overflow: hidden;
  width: 90%;
  margin-left: 5%;
  cursor: pointer;
  border-radius: 10px;
}

.lesson-item:hover {
  background: linear-gradient(to right, #3D518C 30%, #CCCCFF 120%);
  color: #fdfdff;
  text-decoration: underline;
}

.lesson-item:after {
  content: '';
  position: absolute;
  width: 80%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  bottom: 50%;
  left: -100%;
  transition: all 0.5s;
}

.completed {
  color: rgb(92, 236, 56);
  font-weight: bold;
}

.completed:hover {
  background: linear-gradient(to right, #3D518C 20%, #CCCCFF 120%);
  color: rgb(92, 236, 56);
  text-decoration: underline;
}

.text {
  text-shadow: 0px -40px 0px rgba(255, 255, 255, 1);
  transition: all 0.75s;
  transform: translateY(100%) translateZ(0);
  transition-delay: all 0.25s;
}

.lesson-item:hover .text,
.lesson-item.hover .text {
  text-shadow: 0px -40px 0px rgba(255, 255, 255, 0);
  transform: translateY(0%) translateZ(0) scale(1.1);
  font-weight: 800;
}

.lesson-item:hover:after,
.lesson-item.hover:after {
  left: 100%;
}

.lesson-content p {
  text-align: center;
}

.lesson-image,
.lesson-video {
  width: 80%;
  max-width: 300px;
  margin-top: 20px;
  border-radius: 8px;
}

.lesson-description {
  text-align: center;
  margin-top: 10px;
  font-size: 1.1rem;
  color: #333;
}

.lesson-button {
  font-size: 16px;
  font-weight: 300;
  text-align: center;
  position: relative;
  height: 40px;
  line-height: 40px;
  margin-top: 10px;
  overflow: hidden;
  margin-right: 25%;
  cursor: pointer;
  background: linear-gradient(to right, #3D518C 30%, #CCCCFF 120%);
  border: 2px solid #CCCCFF;
  color: #fdfdff;
  align-content: center;
}

.lesson-button:hover {
  font-weight: bold;
  background: linear-gradient(to right, #8f95b6 20%, #fdfdff 120%);
}

.content {
  display: grid;
  grid-template-columns: 200px 1fr;
  gap: 20px;
  width: 100%;
  max-width: 80%;
}

.lesson-content {
  padding: 20px;
  border-left: 1px solid #ccc;
  background-color: #fff;
  border-radius: 8px;
  overflow: auto;
}

.levels-sidebar {
  padding: 20px;
  border-radius: 8px;
  background: linear-gradient(to right, #3D518C 30%, #CCCCFF 120%);
  transition: transform 0.3s ease;
}

.levels-sidebar.collapsed {
  display: none;
}

.content.full-width {
  grid-template-columns: 1fr;
}

.levels-sidebar {
  padding: 20px;
  border-radius: 8px;
}

.lesson-content.full-width {
  grid-column: span 2;
}

.lesson-modal-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.lesson-modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: white;
  padding: 30px;
  border-radius: 8px;
  max-width: 20%;
  font-size: 1rem;
  text-align: center;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.lesson-modal button {
  max-width: 30%;
  background-color: #5468ff;
  border: 0;
  border-radius: 6px;
  color: #fff;
  cursor: pointer;
  padding: 0 16px;
  height: 48px;
  font-size: 18px;
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideOut {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(100%);
    opacity: 0;
  }
}

.custom-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1050;
}

.custom-modal-dialog {
  background: white;
  border-radius: 10px;
  max-width: 500px;
  width: 90%;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.5);
  animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.progress-bar {
  height: 10px;
  background-color: #e0e0e0;
  border-radius: 5px;
  margin-top: 5px;
  overflow: hidden;
}

.progress-bar-fill {
  height: 100%;
  background-color: blue; 
  transition: width 0.3s ease, background-color 0.3s ease;
}

.progress-bar-fill.complete {
  background-color:  rgb(92, 236, 56); 
}