@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center; /* Center align items vertically */
    background: linear-gradient(to right, #eff2fc 40%, #CCCCFF 120%);
    padding: 10px 30px; /* Add padding for better spacing */
    height: auto; /* Fixed height for consistent alignment */
}

.navbar ul {
    list-style: none;
    display: flex;
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
}

.navbar ul li {
    margin-right: 30px; /* Space between navbar items */
}

.navbar ul li:last-child {
    margin-right: 0; /* Remove margin from the last item */
}

.navbar ul li a {
    font-family: 'Manrope', sans-serif; /* Ensure the correct font is applied */
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
    display: flex; /* Enable flex on links for vertical centering */
    align-items: center; /* Center text vertically within the link */
    height: 100%; /* Make link height equal to navbar height */
}

.navbar ul li a:hover {
    text-decoration: underline;
    text-decoration-color: blue;
}

.logo-image {
  margin-left: 5px; /* Space before logo */
  max-width: 100%; /* Ensures the logo doesn't exceed its container */
  height: auto; /* Maintains the aspect ratio */
  width: 150px; /* Set a base width for the logo, adjust as needed */
}

.login-button {
    padding: 8px 16px;
    background-color: #3D518C; 
    color: white;
    border-radius: 4px;
    font-weight: bold;
    text-align: center;
    transition: background-color 0.3s;
    display: flex; /* Ensures the button can align its content */
    align-items: center; /* Center text vertically within the button */
}

.login-button:hover {
    background-color: #007bff; 
    text-decoration: none;
}