@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
.navbar {
    display: flex;
    justify-content: space-between;
    background: -webkit-linear-gradient(to right, #ABD2FA, #7692FF);
    background: linear-gradient(to right, #eff2fc 40%,#CCCCFF 120%);
  }
  
  .navbar ul {
    list-style: none;
    display: flex;
  }
  
  .navbar ul li {
    margin-right: 30px;
  }
  
  .navbar ul li a {
    font-family: manrope;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
  }
  
  .navbar ul li a:hover {
    text-decoration: underline;
    text-decoration-color: blue;
  }
  
  .logo-image {
    margin-left: 30px;
    width: 10vw; 
    margin-top: 0.5%;
  }

  .navitem {
    display: flex;
    align-items: center; /* Vertically align icons and text */
    gap: 4px; /* Add space between the icon and text */
  }
  
  .navitem svg {
    height: 24px; /* Default height */
    width: auto; /* Maintain aspect ratio */
  }
  
  /* Optional: specific height for Home icon */
  .navitem .MuiSvgIcon-root:first-child {
    height: 32px; /* Make Home icon larger */
  }
  

  .login-button {
    padding: 8px 16px;
    background-color: #3D518C; 
    color: white;
    border-radius: 4px;
    font-weight: bold;
    text-align: center;
    transition: background-color 0.3s;
  }
  
  .login-button:hover {
    background-color: #007bff; 
    text-decoration: none;
  }
  