.navbar {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #ede8d0;
  }
  
  .navbar h1 {
    color: white;
  }
  
  .navbar ul {
    list-style: none;
    display: flex;
  }
  
  .navbar ul li {
    margin-left: 20px;
  }
  
  .navbar ul li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: bold;
  }
  
  .navbar ul li a:hover {
    text-decoration: underline;
  }
  
  .capture-image {
    width: 200px; /* Set the width you need */
    height: auto; /* Maintains the aspect ratio */
  }