@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Inter&family=Lexend:wght@100..900&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap');
html, body {
  margin: 0;
  padding: 0;
}
.profile-dropdown {
  position: absolute;
  top: 3rem; /* Adjusted to place right below the icon */
  right: 5rem;
  background: white;
  box-shadow: 0px 8px 16px rgba(2, 0, 0, 0.2);
  border-radius: 8px;
  max-width: 200px;
  z-index: 1000;
}

.edit {
  font-family: 'Lexend',serif;
  margin-top: 15px;
  padding: 5px 5px;
  background-image: linear-gradient(to right, #3D518C 30%, #CCCCFF 120%);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  display: flex;
  justify-content: left;
  position: absolute;
  top: 10px;
  right: 8px;
  transition: all 0.3s ease;
}
.save{
  display: flex;
  justify-content: center;
  align-self: center;
  background: linear-gradient(to right, #3D518C 30%, #CCCCFF 120%);
  color: #CCCCFF;
  padding: 10px;
  font-size: 1rem;
  border-radius: 25px;
  cursor: pointer;
  transition: all 0.3s ease;
  font-family: 'Lexend',serif;
}
.edit:hover,.save:hover{
  background: linear-gradient(to right, #8f95b6 20%, #fdfdff 120%);
  box-shadow: 0 0 10px 2px rgba(118, 146, 255),
  0 0 20px 4px rgba(171, 210, 250, 0.5); 
}

.profile-card, .edit-profile-card {
  font-family: 'Lexend',serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal {
  display: none; /* hides the modal from view by default */
  position: fixed; /* keeps the modal in one place */
  z-index: 2; /* positions the modal on top of all other elements on the screen */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.4); /* 40% opacity black - other elements can still be seen */
  flex-direction: column; /* these flexbox rules center the content on the screen */
  align-items: center;
  justify-content: center;
  font-family: 'Lexend',serif;
}

/* New hover effect for badges */
.badge-container {
  position: relative;
  display: inline-block;
}

.badge-hover-info {
  display: none;
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  background: #fff;
  font-family: 'Lexend',serif;
  color: #3D518C; 
  border-radius: 20px;
  padding: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  white-space: nowrap;
  z-index: 10;
}

.badge-container:hover .badge-hover-info {
  display: block;
}

/* CSS for Profile Pic Selection */
.profile-pic-selection {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.selectable-pic {
  width: 50px; 
  height: 50px; 
  object-fit: cover;
  border-radius: 50%;
  cursor: pointer;
  transition: transform 0.2s;
}

.selectable-pic:hover {
  transform: scale(1.1);
}

.selectable-pic.selected {
  border: 2px solid #3D518C;
}
  .profile-card, .edit-profile-card {
    font-family: 'Lexend',serif;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .modal{
    display: none; /* hides the modal from view by default*/
    position: fixed; /* keeps the modal in one place */
    z-index: 2; /* positions the modal on top of all other elements on the screen */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    background-color: rgba(0,0,0,0.4); /* 40% opacity black - other elements can still be seen */
    flex-direction: column; /* these flexbox rules center the content on the screen */
    align-items: center;
    justify-content: center;
  }
  .edit-form input, .edit-form textarea{
    font-family: 'Lexend', serif;
  }
  .profile-logout-button{
    align-items: center;
    appearance: none;
    background-image: linear-gradient(to right, #3D518C 30%, #CCCCFF 120%);
    border: 0;
    border-radius: 6px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: "Manrope",monospace;
    font-weight: bold;
    height: 48px;
    justify-content: center;
    line-height: 1;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    transition: all 0.3s ease;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    font-size: 18px;
}

.profile-logout-button:hover {
  transform: translateY(-2px);
  background: linear-gradient(to right, #8f95b6 20%, #fdfdff 120%);
  box-shadow: 0 0 10px 2px rgba(118, 146, 255),
  0 0 20px 4px rgba(171, 210, 250, 0.5); 
}

.profile-logout-button:active {
  transform: translateY(2px);
}
