.user-page {
    display: flex;
    flex-direction: column; /* Stacked layout */
    align-items: center; 
    justify-content: center; 
    height: calc(100vh - 73px);
    text-align: center; 
    padding: 100px; 
    box-sizing: border-box;
}

.profile-section {
    text-align: center;
    margin-bottom: 20px;
}

.profile-pic {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}

.points-section {
    margin: 10px 0; /* Reduced margin to bring it closer to recent activities */
    text-align: center;
}

.progress-bar {
    width: 100%;
    background-color: #ddd;
    height: 20px;
    border-radius: 10px;
    overflow: hidden;
}

.progress {
    height: 100%;
    background: linear-gradient(45deg, #b4ccf8, #0066ff); /* Gradient background */
}

.user-about {
    margin: 10px 0; /* Reduced margin to bring it closer to points section */
}

.badges-section {
    margin: 20px 0;
    text-align: center; /* Center the text */
}

.badges-section ul {
    display: flex; /* Use flexbox for the list */
    justify-content: center; /* Center the list items */
    padding: 0; /* Remove default padding */
    list-style: none; /* Remove bullet points */
}

.badges-section .badge {
    display: inline-block;
    background-color: #7692FF;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 5px; /* Margin around badges for spacing */
}

