.profile-dropdown {
  position: absolute;
  top: 3rem; /* Adjusted to place right below the icon */
  right: 5rem;
  background: white;
  box-shadow: 0px 8px 16px rgba(2, 0, 0, 0.2);
  border-radius: 8px;
  max-width: 200px;
  z-index: 1000;
}

.edit {
  margin-top: 15px;
  padding: 5px 5px;
  background-color: #3D518C;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  display: flex;
  justify-content: left;
  position: absolute;
  top: 10px;
  right: 8px;
}

.profile-card, .edit-profile-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal {
  display: none; /* hides the modal from view by default */
  position: fixed; /* keeps the modal in one place */
  z-index: 2; /* positions the modal on top of all other elements on the screen */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.4); /* 40% opacity black - other elements can still be seen */
  flex-direction: column; /* these flexbox rules center the content on the screen */
  align-items: center;
  justify-content: center;
}

/* New hover effect for badges */
.badge-container {
  position: relative;
  display: inline-block;
}

.badge-hover-info {
  display: none;
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
  color: #000; 
  border: 1px solid #ddd;
  padding: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  white-space: nowrap;
  z-index: 10;
}

.badge-container:hover .badge-hover-info {
  display: block;
}

/* CSS for Profile Pic Selection */
.profile-pic-selection {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.selectable-pic {
  width: 50px; 
  height: 50px; 
  object-fit: cover;
  border-radius: 50%;
  cursor: pointer;
  transition: transform 0.2s;
}

.selectable-pic:hover {
  transform: scale(1.1);
}

.selectable-pic.selected {
  border: 2px solid #3D518C;
}

  
  .profile-card, .edit-profile-card {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .modal {
    display: none; /* hides the modal from view by default*/
    position: fixed; /* keeps the modal in one place */
    z-index: 2; /* positions the modal on top of all other elements on the screen */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    background-color: rgba(0,0,0,0.4); /* 40% opacity black - other elements can still be seen */
    flex-direction: column; /* these flexbox rules center the content on the screen */
    align-items: center;
    justify-content: center;
  }
  .profile-logout-button{
  align-items: center;
  appearance: none;
  background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "Manrope",monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
}

.profile-logout-button:focus {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.profile-logout-button:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
}

.profile-logout-button:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}