.about-container10 {
  width: 100%;
  display: flex;
  height: 100%;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.about-container11 {
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: #FFFFFF;
}
.about-container12 {
  flex: 0 0 auto;
  width: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.about-container13 {
  flex: 0 0 auto;
  width: 42vw;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.about-hands2wordslogo1 {
  width: 70%;
  align-self: flex-start;
  margin-top: 5%;
}
.about-container14 {
  flex: 0 0 auto;
  width: 15vw;
  height: 100px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.about-text10 {
  color: rgba(9, 21, 64, 1);
  height: auto;
  font-size: 3vw;
  font-style: Regular;
  text-align: left;
  font-family: Manrope;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.about-container15 {
  flex: 0 0 auto;
  width: 15vw;
  height: 100px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.about-text12 {
  color: rgba(9, 21, 64, 1);
  height: auto;
  font-size: 3vw;
  font-style: Regular;
  text-align: left;
  font-family: Manrope;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.about-container16 {
  flex: 0 0 auto;
  width: 15vw;
  height: 100px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.about-text14 {
  color: rgba(9, 21, 64, 1);
  height: auto;
  font-size: 3vw;
  font-style: Regular;
  text-align: left;
  font-family: Manrope;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.about-container17 {
  width: 100vw;
  height: 120vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #ABD2FA;
}
.about-container18 {
  width: 100vw;
  height: 120vh;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.about-container19 {
  top: 0%;
  flex: 0 0 auto;
  left: 0%;
  right: 0%;
  width: 25vw;
  height: 20vh;
  margin: auto;
  display: flex;
  position: absolute;
  box-shadow: 1vw 1vw 8vw #ffffff;
  align-items: center;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  justify-content: center;
}
.about-hands2words {
  width: 27vw;
  height: 12vh;
}
.about-text16 {
  color: rgb(61, 81, 140);
  font-size: 1.5vw;
  align-self: flex-end;
  font-style: normal;
  text-align: justify;
  font-family: "Manrope";
  font-weight: 400;
  line-height: 1.6vh;
  text-decoration: none;
}
.about-container20 {
  width: 86vw;
  height: 104vh;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.about-startbutton {
  left: 0%;
  right: 0%;
  width: 83vw;
  bottom: 0%;
  height: 90vh;
  margin: auto;
  display: flex;
  position: absolute;
  align-items: flex-start;
  border-radius: 8%;
  flex-direction: column;
  background-size: cover;
  justify-content: flex-start;
  background-image: url("/external/startbutton2811-vqfg-900h.png");
  background-position: center;
}
.about-container21 {
  width: 100vw;
  height: 16vh;
  display: flex;
  align-items: center;
  padding-left: 5%;
  justify-content: flex-start;
}
.about-text17 {
  color: rgb(9, 21, 64);
  font-size: 4vw;
  font-family: "Manrope";
  font-weight: 600;
  line-height: normal;
  text-decoration: none;
}
.about-container22 {
  width: 100vw;
  height: 40vh;
  display: flex;
  position: relative;
  padding-left: 5%;
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: 5%;
  justify-content: flex-start;
}
.about-text18 {
  color: rgb(9, 21, 64);
  width: 79vw;
  height: auto;
  font-size: 2vw;
  font-style: Regular;
  text-align: left;
  font-family: Manrope;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
