.home-container10 {
  width: 100%;
  display: flex;
  height: 100%;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.home-container11 {
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: #FFFFFF;
}
.home-container12 {
  flex: 0 0 auto;
  width: 5%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-container13 {
  flex: 0 0 auto;
  width: 42vw;
  height: 100px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-hands2wordslogo1 {
  width: 70%;
  align-self: flex-start;
  margin-top: 5%;
}
.home-container14 {
  flex: 0 0 auto;
  width: 15vw;
  height: 100px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-text10 {
  color: rgba(9, 21, 64, 1);
  height: auto;
  font-size: 3vw;
  font-style: Regular;
  text-align: left;
  font-family: Manrope;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-container15 {
  flex: 0 0 auto;
  width: 15vw;
  height: 100px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-text12 {
  color: rgba(9, 21, 64, 1);
  height: auto;
  font-size: 3vw;
  font-style: Regular;
  text-align: left;
  font-family: Manrope;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-container16 {
  flex: 0 0 auto;
  width: 15vw;
  height: 100px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-text14 {
  color: rgba(9, 21, 64, 1);
  height: auto;
  font-size: 3vw;
  font-style: Regular;
  text-align: left;
  font-family: Manrope;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-container17 {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #ABD2FA;
}
.home-container18 {
  flex: 0 0 auto;
  width: 100%;
  height: 80vh;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.home-image2 {
  top: 20%;
  right: var(--dl-space-space-sixunits);
  width: auto;
  height: 50vh;
  position: absolute;
  margin-top: 5vh;
}
.home-container19 {
  width: 45vw;
  height: 40vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-text16 {
  color: rgba(9, 21, 64, 1);
  width: 29vw;
  height: auto;
  font-size: 2vw;
  font-style: Regular;
  text-align: left;
  font-family: Manrope;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-text18 {
  color: rgb(61, 81, 140);
  width: 37vw;
  height: auto;
  padding: var(--dl-space-space-unit);
  font-size: 1.5vw;
  font-style: Regular;
  text-align: right;
  font-family: Manrope;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-container20 {
  flex: 0 0 auto;
  width: 47vw;
  height: 100px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.home-startbutton {
  width: 17vw;
  height: 9vh;
  display: flex;
  align-items: center;
  margin-left: 8vw;
  border-radius: 2.7vw;
  background-size: cover;
  justify-content: center;
  background-image: url("/external/startbutton1314-wq4s-200h.png");
  background-position: center;
}
.home-text22 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 1.5vw;
  font-style: ExtraBold;
  text-align: left;
  font-family: Manrope;
  font-weight: 800;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-guestbutton {
  width: 22vw;
  height: 9vh;
  display: flex;
  align-items: center;
  margin-left: var(--dl-space-space-fiveunits);
  border-color: rgba(27, 44, 193, 1);
  border-style: solid;
  border-width: 0.4vw;
  border-radius: 2.7vw;
  background-size: cover;
  justify-content: center;
  background-image: url("/external/guestbutton1316-mvc8-500w.png");
  background-position: center;
}
.home-text24 {
  color: rgba(9, 21, 64, 1);
  height: auto;
  font-size: 1.5vw;
  font-style: Bold;
  text-align: left;
  font-family: Manrope;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-container21 {
  top: 0px;
  flex: 0 0 auto;
  left: 0px;
  right: 0px;
  width: 25vw;
  height: 20vh;
  margin: auto;
  display: flex;
  position: absolute;
  box-shadow: 1vw 1vw 8vw #ffffff;
  align-items: center;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  justify-content: center;
}
.home-hands2words {
  width: 27vw;
  height: 12vh;
}
.home-text26 {
  color: rgb(61, 81, 140);
  font-size: 1.5vw;
  align-self: flex-end;
  font-style: normal;
  text-align: justify;
  font-family: "Manrope";
  font-weight: 400;
  line-height: 1.6vh;
  text-decoration: none;
}
.home-text27 {
  color: rgba(61, 81, 140, 1);
  width: 53vw;
  height: auto;
  font-size: 1.5vw;
  align-self: flex-start;
  font-style: Regular;
  text-align: left;
  font-family: Manrope;
  font-weight: 400;
  line-height: normal;
  margin-left: 8vw;
  font-stretch: normal;
  text-decoration: none;
}

