.login-page-container10 {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-color: #ABD2FA;
}
.login-page-navbar {
  width: 100%;
  height: 123px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: #FFFFFF;
}
.login-page-container11 {
  flex: 0 0 auto;
  width: 41px;
  height: 100px;
  display: flex;
  align-items: center;
  border-color: #ffffff;
  border-style: dashed;
  border-width: 0px;
  justify-content: center;
}
.login-page-container12 {
  flex: 0 0 auto;
  width: 524px;
  height: 100px;
  display: flex;
  align-items: center;
  border-color: var(--dl-color-theme-secondary1);
  border-style: solid;
  border-width: 0px;
  flex-direction: column;
  justify-content: center;
}
.login-page-hands2wordslogo1 {
  width: 421px;
  height: 421px;
  align-self: flex-start;
  margin-top: 5%;
}
.login-page-container13 {
  flex: 0 0 auto;
  width: 261px;
  height: 100px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.login-page-text10 {
  color: rgba(9, 21, 64, 1);
  height: auto;
  font-size: 48px;
  font-style: Regular;
  text-align: left;
  font-family: Manrope;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.login-page-container14 {
  flex: 0 0 auto;
  width: 224px;
  height: 100px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.login-page-text12 {
  color: rgba(9, 21, 64, 1);
  height: auto;
  font-size: 48px;
  font-style: Regular;
  text-align: left;
  font-family: Manrope;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.login-page-container15 {
  flex: 0 0 auto;
  width: 261px;
  height: 100px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.login-page-text14 {
  color: rgba(9, 21, 64, 1);
  height: auto;
  font-size: 48px;
  font-style: Regular;
  text-align: left;
  font-family: Manrope;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.login-page-container16 {
  width: 100%;
  height: 1179px;
  display: flex;
  position: relative;
  flex-direction: column;
}
.login-page-container17 {
  width: 200px;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 3px;
  display: flex;
  align-self: flex-end;
  align-items: flex-start;
  flex-direction: column;
}
.login-page-container18 {
  top: 3px;
  right: 0px;
  width: 50%;
  height: 100%;
  margin: auto;
  display: flex;
  position: absolute;
  align-self: flex-end;
  align-items: flex-start;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: dashed;
  border-width: 0px;
  flex-direction: column;
}
.login-page-container19 {
  width: 906px;
  height: 433px;
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: column-reverse;
  justify-content: flex-start;
}
.login-page-thumbuminremovebgpreview1 {
  width: 559px;
  height: 230px;
  display: flex;
  align-self: center;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: dashed;
  border-width: 0px;
  background-size: cover;
  justify-content: center;
  background-image: url("/external/thumbuminremovebgpreview1410-sx6-600w.png");
  background-position: center;
}
.login-page-text16 {
  color: rgba(9, 21, 64, 1);
  width: 626px;
  height: auto;
  font-size: 56px;
  font-style: Regular;
  margin-top: 10%;
  text-align: center;
  font-family: Manrope;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.login-page-container20 {
  width: 100%;
  height: 188px;
  display: flex;
  position: relative;
  align-self: center;
  align-items: flex-start;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: dashed;
  border-width: 0px;
  flex-direction: row;
  justify-content: flex-start;
}
.login-page-rectangle21 {
  top: 95px;
  left: 5%;
  right: 5%;
  width: 789px;
  height: 83px;
  margin: auto;
  position: absolute;
  border-radius: 10px;
}
.login-page-text18 {
  color: rgba(9, 21, 64, 1);
  height: auto;
  font-size: 36px;
  align-self: flex-start;
  font-style: normal;
  margin-top: 4%;
  text-align: center;
  font-family: Manrope;
  font-weight: 500;
  line-height: normal;
  margin-left: 9%;
  font-stretch: normal;
  text-decoration: none;
}
.login-page-container21 {
  width: 100%;
  height: 238px;
  display: flex;
  position: relative;
  align-self: center;
  align-items: flex-start;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: dashed;
  border-width: 0px;
  flex-direction: row;
  justify-content: flex-start;
}
.login-page-rectangle22 {
  top: 95px;
  left: 5%;
  right: 5%;
  width: 789px;
  height: 83px;
  margin: auto;
  position: absolute;
  border-radius: 10px;
}
.login-page-text20 {
  color: rgb(9, 21, 64);
  height: auto;
  font-size: 36px;
  align-self: flex-start;
  font-style: normal;
  margin-top: 4%;
  text-align: center;
  font-family: Manrope;
  font-weight: 500;
  line-height: normal;
  margin-left: 9%;
  font-stretch: normal;
  text-decoration: none;
}
.login-page-text24 {
  color: rgba(27, 44, 193, 1);
  height: auto;
  font-size: 24px;
  font-style: normal;
  margin-top: 20%;
  text-align: right;
  font-family: Manrope;
  font-weight: 500;
  line-height: normal;
  margin-left: 44%;
  font-stretch: normal;
  margin-right: 0%;
  text-decoration: none;
}
.login-page-container22 {
  flex: 0 0 auto;
  width: 100%;
  height: 324px;
  display: flex;
  align-self: center;
  align-items: flex-start;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: dashed;
  border-width: 0px;
  flex-direction: column;
}
.login-page-rectangle8 {
  width: 264px;
  height: 70px;
  display: flex;
  align-self: center;
  align-items: center;
  border-radius: 55px;
  background-size: cover;
  justify-content: center;
  background-image: url("/external/rectangle8232-nke-200h.png");
  background-position: center;
}
.login-page-text26 {
  color: rgb(0, 0, 0);
  font-size: 36px;
  font-family: "Manrope";
  font-weight: 700;
  line-height: normal;
  text-decoration: none;
}
.login-page-container23 {
  flex: 0 0 auto;
  width: 609px;
  height: 73px;
  display: flex;
  align-self: center;
  flex-direction: column;
}
.login-page-text27 {
  color: rgb(0, 0, 0);
  font-size: 24px;
  align-self: center;
  font-style: normal;
  margin-top: 4%;
  font-family: "Manrope";
  font-weight: 500;
  line-height: normal;
  text-decoration: none;
}
.login-page-text29 {
  color: #1b2cc1;
}
.login-page-text30 {
  color: rgba(27, 44, 193, 1);
  width: 171px;
  height: auto;
  font-size: 24px;
  align-self: center;
  font-style: normal;
  text-align: center;
  font-family: Manrope;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.login-page-container24 {
  width: 50%;
  height: 100%;
  display: flex;
  position: relative;
  align-items: flex-end;
  border-color: #ffffff;
  border-style: dashed;
  border-width: 0px;
  flex-direction: row;
  justify-content: center;
  background-color: #ffffff;
}
.login-page-hands1 {
  top: 0px;
  left: 0px;
  right: 0px;
  width: 547px;
  height: 519px;
  margin: auto;
  position: absolute;
  align-self: flex-start;
}
.login-page-giphy21 {
  top: 180px;
  left: 228px;
  width: 514px;
  height: 554px;
  margin: auto;
  position: absolute;
}
.login-page-text32 {
  fill: #3D518C;
  color: #3D518C;
  height: auto;
  font-size: 48px;
  font-style: normal;
  text-align: center;
  font-family: Manrope;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-bottom: 30%;
  text-decoration: none;
}
