# Node.js dependencies
node_modules/
node_modules
node_modules
# Environment variables
.env
env
# Logs
logs/
*.log

# OS-specific files
.DS_Store
Thumbs.db


# Folder that contains all the image data for the model
MP_Data/
